// Global default params, used in configs
params {

    // Input options
    input                              = null

    // References
    genome                             = null
    splicesites                        = null
    gtf_extra_attributes               = 'gene_name'
    gtf_group_features                 = 'gene_id'
    featurecounts_feature_type         = 'exon'
    featurecounts_group_type           = 'gene_biotype'
    igenomes_base                      = 's3://ngi-igenomes/igenomes'
    igenomes_ignore                    = false

    // Indexing 
    indexer                            = 'hisat2'
    build_indices                      = true

    // Outputs
    outdir                             = 'results'


    // Trimming
    trimmer                            = 'cutadapt'
    min_trimmed_reads                  = 10000
    extra_cutadapt_args                = null
    save_trimmed                       = false
    skip_trimming                      = false


    // UMI handling
    with_umi                           = false
    skip_umi_extract                   = false
    umitools_extract_method            = 'string'
    umitools_grouping_method           = 'directional'
    umitools_dedup_stat                = false
    group_umis                         = false
    umitools_bc_pattern                = null
    umitools_bc_pattern2               = null
    umitools_umi_separator             = null
    umi_discard_read                   = null
    save_umi_intermeds                 = false

    // Alignment
    aligner                            = 'hisat2'
    hisat2_orf_params                  = "-k 2 --no-spliced-alignment --rna-strandness F --no-unal"
    skip_alignment                     = false

    // Trim_5p_mismatches
    trim_5p_mismatches                 = true

    // Statistics and figure generation paramaters 
    buffer                             = 250
    count_reads                        = true
    count_threshold                    = 1
    dataset                            = 'dataset'
    output_metagene_normalized_profile = true
    feature                            = "CDS"
    is_riboviz_gff                     = true
    make_bedgraph                      = true
    max_read_length                    = 50
    min_read_length                    = 10
    primary_id                         = "Name"
    rpf                                = true
    secondary_id                       = null
    stop_in_feature                    = false

    // Visualisation parameters
    run_static_html                    = true
    output_pdfs                        = true

     // MultiQC options
    multiqc_config                     = null
    multiqc_title                      = null
    multiqc_logo                       = null
    max_multiqc_email_size             = '25.MB'
    multiqc_methods_description        = null

    // Boilerplate options
    outdir                             = null
    publish_dir_mode                   = 'copy'
    email                              = null
    email_on_fail                      = null
    plaintext_email                    = false
    monochrome_logs                    = false
    hook_url                           = null
    help                               = false
    version                            = false

    // Config options
    config_profile_name                = null
    config_profile_description         = null
    custom_config_version              = 'master'
    custom_config_base                 = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact             = null
    config_profile_url                 = null
    

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                         = '128.GB'
    max_cpus                           = 16
    max_time                           = '240.h'

    // Schema validation default options
    validationFailUnrecognisedParams   = false
    validationLenientMode              = false
    validationSchemaIgnoreParams       = 'genomes'
    validationShowHiddenParams         = false
    validate_params                    = true

}